{% extends 'Manager/manager_index_base.html' %}
{% block main %}
            <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-sm-8">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h2>Audits</h2>
                            <p>
                                All audits need to be verified by you.
                            </p>
                            <div class="clients-list">
                            <span class="float-right small text-muted">{{ count }} Audits</span>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <tbody>
                                                {% for item in parents%}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ item.name }}</td>
                                                        <td> {{ item.address }}</td>
                                                        <td> {{ item.tele }}</td>
                                                        <td class="client-status"><a href="#" onclick="see('{{ item.num }}','{{ item.name }}',
                                                           '{{ item.gender }}','{{ item.age }}','{{ item.edu }}','{{ item.weight }}',
                                                            '{{ item.married }}','{{ item.Has_child }}','{{ item.address }}',
                                                                '{{ item.tele }}')"><span class="label label-primary">查看</span></a></td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ibox selected">

                        <div class="ibox-content">
                            <div class="tab-content">
                                    <div class="row m-b-lg">
                                        <div class="col-lg-4 text-center">
                                            <h2 id="name">Nicki Smith</h2>

                                        </div>
                                    </div>
                                <div id="contact-1" class="tab-pane active">
                                    <div class="client-detail">
                                    <div class="full-height-scroll">

                                        <ul class="list-group clear-list">
                                            <li class="list-group-item fist-item" >
                                                <span class="float-right" id="num"> 09:00 pm </span>
                                                身份证号
                                            </li>
                                            <li class="list-group-item" style="margin-top: 15px">
                                                <span class="float-right" id="gender"> 08:22 pm </span>
                                                性别
                                            </li>
                                            <li class="list-group-item" style="margin-top: 15px">
                                                <span class="float-right" id="age"> 11:06 pm </span>
                                                年龄
                                            </li>
                                            <li class="list-group-item" style="margin-top: 15px">
                                                <span class="float-right" id="edu"> 12:00 am </span>
                                                学历
                                            </li>
                                            <li class="list-group-item" style="margin-top: 15px">
                                                <span class="float-right" id="weight"> 12:00 am </span>
                                                体重
                                            </li>
                                            <li class="list-group-item" style="margin-top: 15px">
                                                <span class="float-right" id="married"> 12:00 am </span>
                                                是否已婚
                                            </li>
                                            <li class="list-group-item" style="margin-top: 15px">
                                                <span class="float-right" id="Has_child"> 12:00 am </span>
                                                是否有孩子
                                            </li>
                                            <li class="list-group-item" style="margin-top: 15px">
                                                <span class="float-right" id="address"> 12:00 am </span>
                                                地址
                                            </li>
                                            <li class="list-group-item" style="margin-top: 15px">
                                                <span class="float-right" id="tele"> 12:00 am </span>
                                                联系方式
                                            </li>
                                        </ul>
                                        <button type="button" onclick="approve(this.id)" id="test_btn" class="btn btn-primary btn-sm btn-block"> Approved
                                            </button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    <script>
        $(document).ready(function(){

            $('#num').text("");
            $('#name').text("");
            $('#age').text("");
            $('#edu').text("");
            $('#weight').text("");
            $('#gender').text("");
            $('#tele').text("");
            $('#address').text("");
            $('#married').text("");
            $('#Has_child').text("");

       });
        function see(id,name,gender,age,edu,weight,married,Has_child,address,tele) {
            $('#num').text(id)
            $('#name').text(name)
            $('#gender').text(gender)
            $('#age').text(age)
            $('#edu').text(edu)
            $('#weight').text(weight)
            if(married == 'False'){
                $('#married').text('否')
            }
            else{
                $('#married').text('是')
            }
            if(Has_child == 'False'){
                $('#Has_child').text('否')
            }
            else{
                $('#Has_child').text('是')
            }
            $('#address').text(address)
            $('#tele').text(tele)
            $('#test_btn').attr('id',id)
        }

    function approve(num) {
        $.get("{% url 'Manager:manager_approve' %}",{'num':num},function (data) {
            window.location.reload()
        })
    }
    </script>
{% endblock %}